//Variables
$transparent: transparent;
$white: #ffffff;
$black: #303030;
$red: #e91720;
$red_dark: #920018;
$blue: #224f9e;
$blue_dark: #05498b;
$gray: #faf8f7;
$gray_dark: #faf8f7;
$yellow: #ffd600;
$skin: #f2cbb6;
$placeholder: #eeeeee;

$primary-color: #30a5ff;
$primary-color-hover: #50b3ff;
$lighter-gray: #f1f4f7;
$light-gray: #e9ecf2;
$medium-gray: #7c7c7c;
$dark-gray: #444444;
$base-font-size: 14px;
$custom-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
