body {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.5;
    background-color: $primary;
    color: $blue;
    font-weight: 400;
    margin-top: 70px;

    @media #{$min-xl} {
        margin-top: 85px;
    }
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}

video {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    line-height: 1.5;
    color: $blue;
}

h1,
h2 {
    line-height: 1;
    font-family: $font-secondary;
    color: $blue_dark;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.color {
    &-black {
        color: $black;
    }

    &-blue {
        color: $blue;
    }

    &-blue-dark {
        color: $blue_dark;
    }

    &-gray {
        color: $gray;
    }

    &-gray-dark {
        color: $gray_dark;
    }

    &-red {
        color: $red;
    }

    &-red-dark {
        color: $red_dark;
    }

    &-white {
        color: $white;
    }

    &-skin {
        color: $skin;
    }
}

.link {
    text-decoration: underline;
    transition: all 0.3s;
    color: inherit;

    &:hover {
        color: inherit;
    }

    &:focus-visible {
        color: inherit;
    }
}

.accent {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: $blue_dark;
        top: 50%;
        width: 30px;
        height: 4px;
        display: none;

        @media #{$min-lg} {
            display: block;
        }
    }
    &::before {
        left: -32px;
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
    }
    &::after {
        left: 100%;
        -webkit-transform: translate(32px, -50%);
        transform: translate(32px, -50%);
    }

    &-black {
        &::before,
        &::after {
            background-color: $black;
        }
    }

    &-blue {
        &::before,
        &::after {
            background-color: $blue;
        }
    }

    &-blue-dark {
        &::before,
        &::after {
            background-color: $blue_dark;
        }
    }

    &-gray {
        &::before,
        &::after {
            background-color: $gray;
        }
    }

    &-gray-dark {
        &::before,
        &::after {
            background-color: $gray_dark;
        }
    }

    &-red {
        &::before,
        &::after {
            background-color: $red;
        }
    }

    &-red-dark {
        &::before,
        &::after {
            background-color: $red_dark;
        }
    }

    &-white {
        &::before,
        &::after {
            background-color: $white;
        }
    }
}

//.focus-visible-not-supported {
//    .field {
//        padding-top: 30px;
//    }
//
//    .placeholder {
//        top: 0;
//    }
//}

//.no-webp {
//    display: block;
//}
//
//.on-webp {
//    display: none;
//}
//
//.webp {
//    .no-webp {
//        display: none;
//    }
//
//    .on-webp {
//        display: block;
//    }
//}

.row {
    position: relative;
}

.col, .col-12 {
    position: relative;
}
