$font-primary: "OktaNeue";
$font-secondary: new-spirit, serif;

$transparent: transparent;

$white: #ffffff;
$black: #303030;

$red: #e91720;
$red_dark: #920018;

$blue: #224f9e;
$blue_dark: #05498b;

$gray: #faf8f7;
$gray_dark: #faf8f7;

$yellow: #ffd600;

$skin: #f2cbb6;

/* $gray: #ececec; */
/* $gray_dark: #c8c8c8; */

/* $dark: #b5b5b5;*/
/* $grayless: #b3b3b3; */
$placeholder: #eeeeee;

/* $link: #1d1d1d;*/
/* $link-hover: #1d1d1d; */

/* $shadow: rgba(0, 0, 0, 0.66); */
/* $primary: #ffffff; */
/* $primary: #707070; */

/* $bg-color: #ffffff; */
/* $primary: #1d2024; */

$primary: $white;
$secondary: $black;

$primary-url: "%23030D3E";

$min-sm: "(min-width: 576px)";
$min-md: "(min-width: 768px)";
$min-lg: "(min-width: 992px)";
$min-xl: "(min-width: 1200px)";
$min-fhd: "(min-width: 1920px)";
