.home-faq {
    padding-top: 100px;
    width: 100%;
    border: 0;

    h2 {
        margin-bottom: 50px;
    }

    ul {
        li {
            color: $red;
            margin-bottom: 50px;

            div {
                color: $blue;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
