.home-info {
    position: relative;
    background-color: $blue_dark;
    padding-top: 100px;
    padding-bottom: 70px;
    color: $white;

    h1 {
        margin-bottom: 50px;
    }

    .button {
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 50px;
    }
}
